<h3 class="text-center mb-3">Admin View</h1><br>

<form action="{% url 'pickem:adminaction' %}" id="predictions" method="post">
    {% csrf_token %}

    {% if user_profile %}
    <div class="row-md-3 text-center justify-content-center ">
        <button type="submit" class="btn btn-warning btn-lg" value="makepredictions">Lock in!</button>
    </div>
    {% else %}
    <div class="row-md-3 text-center justify-content-center ">
        <p>Login before making predictions!</p>
    </div>
    {% endif %}
    <br>

    {% for day, games in current_week_games %}
    <div>
        <div class="row d-flex flex-wrap align-items-center justify-content-center py-2">
            <h4>{{ day }}</h4>
        </div>
        {% for game in games %}
        <div class="row d-flex flex-nowrap align-items-center justify-content-center py-2">
            {% for team in game.teams.all %}
            <div class="btn-group btn-group-toggle align-items-center justify-content-center" style="width:27.5%;">
                {% if game.has_occurred %}
                <input type="radio" class="btn-check" name="{{ game.game_id }}"
                    value="{{ game.game_id }}-{{ team.team_name }}" id="{{ game.game_id }}-{{ team.team_name }}"
                    autocomplete="off" disabled>
                {% else %}
                <input type="radio" class="btn-check" name="{{ game.game_id }}"
                    value="{{ game.game_id }}-{{ team.team_name }}" id="{{ game.game_id }}-{{ team.team_name }}"
                    autocomplete="off" {% if not user_profile %}disabled{% endif %}>
                {% endif %}
    
                <label
                    class="btn {% if game.has_occurred and team.team_name == game.winning_team.team_name %} btn-outline-success {% else %} {% if game.has_occurred %} btn-outline-danger {% else %} btn-outline-dark {% endif %} {% endif %}"
                    for="{{ game.game_id }}-{{ team.team_name }}">
                    {% if forloop.counter == 1 %}
                    <span>{% if agent and agent == "web" %}{{ team.team_name }} {% endif %}<img src="{{ team.team_logo }}"
                    alt="{{ team.team_name }}" height="40"></span>
                    {% else %}
                    <span><img src="{{ team.team_logo }}" alt="{{ team.team_name }}" height="40">{% if agent and agent == "web" %} {{ team.team_name }}{% endif %}</span>
                    {% endif %}
                </label>
            </div>
            {% if forloop.counter == 1 %}
            <div style="width:10%">
                <p>vs.</p>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <br>
        {% endfor %}
    </div>
    {% endfor %}

    {% if user_profile %}
    <div class="row-md-3 text-center justify-content-center ">
        <button type="submit" class="btn btn-warning btn-lg" value="makepredictions">Lock in!</button>
    </div>
    {% else %}
    <div class="row-md-3 text-center justify-content-center ">
        <p>Login before making predictions!</p>
    </div>
    {% endif %}

</form>