{% extends "pickem/base.html" %}

{% block content %}
<div class="container-fluid position-relative" id="main-content" style="{% if agent and agent == 'mobile' %}width:80%;{% else %}width:55%;{% endif %}">
    <h1 class="text-center mb-3">Leaderboard</h1><br>
    <div class="container">
        <!--{% if users %}
            <ul class="list-group">
                {% for curr_user_profile in users %}
                    <a href="{% url 'pickem:userhistory' curr_user_profile.user.username %}" class="list-group-item {% if curr_user_profile == user_profile %} list-group-item-info {% endif %} d-flex justify-content-between align-items-center">
                        {{ curr_user_profile.rank }} {{ curr_user_profile.user.username }}
                        <span class="badge bg-warning rounded-pill">{{ curr_user_profile.points }}</span>
                    </a>
                {% endfor %}
            </ul>
        {% else %}
            <p>Internal Error!</p>
        {% endif %}-->
        {% if users %}
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Username</th>
                    <th scope="col">Twitter</th>
                    <th scope="col">Points</th>
                    <th scope="col">Favorite Team</th>
                </tr>
            </thead>
            <tbody>
                {% for curr_user_profile in users %}
                    <tr class="{% if curr_user_profile == user_profile %}table-info{% endif %}">
                        <th scope="row"><a href="{% url 'pickem:userhistory' curr_user_profile.user.username %}" class="nav-link link-dark">{{ curr_user_profile.rank }}</a></th>
                        <td><a href="{% url 'pickem:userhistory' curr_user_profile.user.username %}" class="nav-link link-dark">{{ curr_user_profile.user.username }}</a></td>
                        <td>{% if curr_user_profile.twitter %}<a href="https://www.twitter.com/{{ curr_user_profile.twitter }}" class="nav-link link-dark">{{ curr_user_profile.twitter }}</a>{% endif %}</td>
                        <td><a href="{% url 'pickem:userhistory' curr_user_profile.user.username %}" class="nav-link link-dark"><span class="badge bg-warning rounded-pill">{{ curr_user_profile.points }}</span></a></td>
                        <td><a href="{% url 'pickem:userhistory' curr_user_profile.user.username %}"><img src="{{ curr_user_profile.favorite_team.team_logo }}" alt="{{ curr_user_profile.favorite_team.team_name }}" height="40"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Internal Error!</p>
        {% endif %}
    </div>
</div>
{% endblock %}