{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'pickem/account.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'pickem/login.css' %}">

    <style>
        
    </style>

    <title>OWL Pick'em</title>
</head>

<body>
    {% include 'pickem/navbar.html' %}
    <div class="container-fluid row text-center justify-content-center" id="login-body">
        <main class="form-signin">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action="{% url 'pickem:loginaction' %}" method="post">
                {% csrf_token %}
                <h1 class="h3 mb-3 fw-normal">Login</h1>
                
                <div class="form-floating">
                    <input type="username" class="form-control" id="floatingInput" name="username" placeholder="Username" required>
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" required>
                    <label for="floatingPassword">Password</label>
                </div>
                <br>
                <button class="w-100 btn btn-lg btn-warning" type="submit" value="loginaction">Submit</button>
            </form>
        </div>
    </div>
</body>