<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/pickem" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img class="bi me-2" src="/media/uploads/owl.png" alt="" width="60" height="60">
            <span class="fs-4">Pick'em</span>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/pickem" class="nav-link px-2 {% if request.session.current_page == 'home' %}link-secondary{% else %} link-dark{% endif %}">Home</a></li>
            <li><a href="{% url 'pickem:pastweeks' %}" class="nav-link px-2 {% if request.session.current_page == 'pastweeks' %}link-secondary{% else %} link-dark{% endif %}">Past Weeks</a></li>
            <li><a href="{% url 'pickem:leaderboard' %}" class="nav-link px-2 {% if request.session.current_page == 'leaderboard' %}link-secondary{% else %} link-dark{% endif %}">Leaderboard</a></li>
            <!--<li><a href="#" class="nav-link px-2 link-dark">About</a></li>-->
        </ul>

        {% if user_profile %}
        <div class="col-md-3 text-end">
            <a href="{% url 'pickem:userhistory' user_profile.user.username %}"><button type="button" class="btn btn-outline-dark me-2">{{ user_profile.user.username }} <span class="badge bg-primary rounded-pill">{{ user_profile.points }}</span></button></a>
            <a href="{% url 'pickem:logoutaction' %}"><button type="button" class="btn btn-warning">Logout</button></a>
        </div>
        {% else %}
        <div class="col-md-3 text-end">
            <a href="{% url 'pickem:loginview' %}"><button type="button" class="btn btn-outline-dark me-2">Login</button></a>
            <a href="{% url 'pickem:signup' %}"><button type="button" class="btn btn-warning">Sign Up</button></a>
        </div>
        {% endif %}
    </header>
</div>