{% extends "pickem/base.html" %}

{% block content %}
<div class="container-fluid positive-relative" id="main-content">
    <h1 class="text-center mb-3">Past Weeks</h1><br>
    <div class="container">
        {% if week_list %}
        <ul class="nav nav-pills mb-3 text-center justify-content-center" id="pills-tab" role="tablist">
        {% for week in week_list %}
            <li class="nav-item" role="presentation">
                <button class="nav-link {% if last_week == forloop.counter %}active{% endif %}" id="pills-{{ forloop.counter }}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{ forloop.counter }}"
                    type="button" role="tab" aria-controls="pills-{{ forloop.counter }}" aria-selected="true">{{ forloop.counter }}</button>
            </li>
        {% endfor %}
        </ul>
        <br>
        <div class="tab-content" id="pills-tabContent">
            {% for week in week_list %}
                <div class="tab-pane {% if last_week == forloop.counter %}show active{% endif %}" id="pills-{{ forloop.counter }}" role="tabpanel" aria-labelledby="pills-{{ forloop.counter }}-tab">
                    {% for game in week %}
                        <div class="row d-flex flex-nowrap align-items-center justify-content-center py-2">
                            {% for team in game.teams.all %}
                                <div class="btn-group btn-group-toggle align-items-center justify-content-center" style="width:27.5%;">
                                    <input type="radio" class="btn-check" name="{{ game.game_id }}" value="{{ game.game_id }}-{{ team.team_name }}" id="{{ game.game_id }}-{{ team.team_name }}" autocomplete="off" disabled>
                            
                                    <label class="btn {% if team.team_name == game.winning_team.team_name %} btn-outline-success {% else %}btn-outline-danger {% endif %}" for="{{ game.game_id }}-{{ team.team_name }}">
                                        {% if forloop.counter == 1 %}
                                        <span>{% if agent and agent == "web" %}{{ team.team_name }} {% endif %}<img src="{{ team.team_logo }}"
                                        alt="{{ team.team_name }}" height="45"></span>
                                        {% else %}
                                        <span><img src="{{ team.team_logo }}" alt="{{ team.team_name }}" height="45">{% if agent and agent == "web" %} {{ team.team_name }}{% endif %}</span>
                                        {% endif %}
                                    </label>
                                </div>
                                {% if forloop.counter == 1 %}
                                    <div style="width:10%;">
                                        <p>vs.</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <br>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-center mb-3">It's finally season time! Check back as the season progresses.</p>
        {% endif %}
    </div>

</div>
{% endblock %}